// Copyright 2018 Zachary Mayhew <mayhew.zachary2003@gmail.com>
// Licenced under the MIT Licence

@each $name, $length in $durations {
  .duration-#{$name} {
    animation-duration: $length !important;
  }
}

@each $name, $function-name in $functions {
  .function-#{$name} {
    animation-timing-function: $function-name !important;
  }
}

.direction-reverse {
  animation-direction: reverse;
}